body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Verdana, sans-serif;
  cursor: url('./images/file.png'), auto;
}

.Meow {
  display: flex;
  flex-direction: column;
  align-items: center;      
  text-align: center;
  padding: 20px;
  background-color: #9caf88;
  width: 1350px;
  height: 600px;
  border-radius: 5px;
}


.h1box {
  text-align: center;
  padding: 20px;
  background-color: #fffcf4;
  width: 600px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 25px; 
}

button.startbutton {
  margin: 10px;
  padding: 10px;
  background-color: #fffcf4;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: url('./images/file.png'), auto;
  flex-direction: column;
}

button.startbutton:hover {
  background-color: #ff985a;
}
